LabWsKiatnakin/DemoClassFamilyClient/Service References/EmpSvc/EmpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2947/EmpService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2947/EmpService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2947/EmpService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoClassFamily.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpService_AddNewEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddNewEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ListAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmpService_ListAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DemoYield_InputMessage">
    <wsdl:part name="parameters" element="tns:DemoYield" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DemoYield_OutputMessage">
    <wsdl:part name="parameters" element="tns:DemoYieldResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_SetNumOfEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SetNumOfEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmpService_SetNumOfEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetNumOfEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpService">
    <wsdl:operation name="AddNewEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/AddNewEmployee" message="tns:IEmpService_AddNewEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/AddNewEmployeeResponse" message="tns:IEmpService_AddNewEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/ListAllEmployees" message="tns:IEmpService_ListAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/ListAllEmployeesResponse" message="tns:IEmpService_ListAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DemoYield">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/DemoYield" message="tns:IEmpService_DemoYield_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/DemoYieldResponse" message="tns:IEmpService_DemoYield_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetNumOfEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/SetNumOfEmployee" message="tns:IEmpService_SetNumOfEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/SetNumOfEmployeeResponse" message="tns:IEmpService_SetNumOfEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpService" type="tns:IEmpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmpService/AddNewEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmpService/ListAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DemoYield">
      <soap:operation soapAction="http://tempuri.org/IEmpService/DemoYield" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetNumOfEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmpService/SetNumOfEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpService">
    <wsdl:port name="BasicHttpBinding_IEmpService" binding="tns:BasicHttpBinding_IEmpService">
      <soap:address location="http://localhost:2947/EmpService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>