LabWs1/Workshop1/Service References/FirstWcfSvc/FirstWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleWebApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleWebApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DivFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:int" />
      <xs:element minOccurs="0" name="B" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivFault" nillable="true" type="tns:DivFault" />
</xs:schema>