LabWs1/ClientNet4/Service References/FirstWcfSvc/FirstWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FirstWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10485/FirstWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10485/FirstWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFirstWcfService_NumToEng_InputMessage">
    <wsdl:part name="parameters" element="tns:NumToEng" />
  </wsdl:message>
  <wsdl:message name="IFirstWcfService_NumToEng_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumToEngResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWcfService_Add200_InputMessage">
    <wsdl:part name="parameters" element="tns:Add200" />
  </wsdl:message>
  <wsdl:message name="IFirstWcfService_Add200_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add200Response" />
  </wsdl:message>
  <wsdl:portType name="IFirstWcfService">
    <wsdl:operation name="NumToEng">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWcfService/NumToEng" message="tns:IFirstWcfService_NumToEng_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWcfService/NumToEngResponse" message="tns:IFirstWcfService_NumToEng_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add200">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWcfService/Add200" message="tns:IFirstWcfService_Add200_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWcfService/Add200Response" message="tns:IFirstWcfService_Add200_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFirstWcfService" type="tns:IFirstWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NumToEng">
      <soap:operation soapAction="http://tempuri.org/IFirstWcfService/NumToEng" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add200">
      <soap:operation soapAction="http://tempuri.org/IFirstWcfService/Add200" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FirstWcfService">
    <wsdl:port name="BasicHttpBinding_IFirstWcfService" binding="tns:BasicHttpBinding_IFirstWcfService">
      <soap:address location="http://localhost:10485/FirstWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>